<header class="d-flex flex-column align-items-center justify-content-center">
  <div class="d-flex">
    <section class="text-center text-light">
      <h1>Paweł Sawicki</h1>
      <p>Junior Front End</p>
    </section>
  </div>

  <div class="justify-self-end">
    <nav class="text-center text-light ">
      <ul class="nav">
        <li class="nav-item border">
          <button class="btn"><a class="nav-link text-light" href="#">Active</a></button>
        </li>
        <li class="nav-item border-bottom">
          <button class="btn"><a class="nav-link text-light" href="#">Link</a></button>

      </ul>
    </nav>
  </div>
</header>
