<div id="nav-holder" class="container d-flex  justify-content-center align-items-end">
    <nav class="d-flex row justify-content-center text-center text-light ">
      <ul class="nav border-bottom border-left border-md-right border-warning rounded-left shadow-lg ">
        <li *ngFor="let item of navsItem; let i = index " #li (mouseenter) = "addHover(li)" (mouseleave) = "removeHover(li)" class= "nav-item col-md-3">
          <button  class="btn">
            <a class="text-light" [href]="navsItem[i].link">{{navsItem[i].name | uppercase}}</a>
          </button>

        </li>
      </ul>
    </nav>
  </div>